body{
    background-color:  rgb(35, 81, 0);
    display: flex;
    flex-direction: column;
}
nav{
    height: 5vw;
    display: flex;
    background-color: green;
    justify-content: center;
    align-items: center;
    
}
.sectCom{
    height: 60vw;
    max-height: 20vw;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ccc; 
}
.navButton{
    flex: auto;
    text-align: center;
    text-decoration: none;
    color: white;
    
}
textarea{
    width: 100%;
    height: 100%;
}
.canvas2{
    display: flex;
    align-items: center;
}
.canvas{
    display: flex;
    
}
.coment{padding: 2%;}
#imgDep{
    width: 100%;
}
#perfil{
    width: 10vh;
    height: 10vh;
}
.side{
    background-color: aliceblue;
    width: 33%;
    padding: 2%;
}
.info{
    background-color: aliceblue;
    width: 66%;
    padding: 2%;
}
.footer {
    padding: 20px;
    text-align: center;
    background: green;}
