            body{
                background-color:  rgb(35, 81, 0);
                display: flex;
                flex-direction: column;
            }
            nav{
                height: 5vw;
                display: flex;
                background-color: green;
                justify-content: center;
                align-items: center;
                
            }
            .titulo{
                background-image: url("https://distritotec.tec.mx/sites/g/files/vgjovo1626/files/inline-images/centro-deportivo-borregos-2.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50%;
                height: 40vh;
                width: 100%;
                font-size: 2rem;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
            }
            .navButton{
                flex: auto;
                text-align: center;
                text-decoration: none;
                color: white;
                
            }
            .class{
                text-align: center;
                background-color: rgb(255, 255, 255,.5);}
            .canvas{
                display: flex;
                
            }
            .padd{
                padding: 2%;
                text-align: left;
            }
            h3{
                background-color: rgba(0, 0, 0,.75);
                color: white;
                border-radius: 5px;
                padding: 2%;

            }

            .img{
                width: 50%;;
            }
            .footer {
            padding: 20px;
            text-align: center;
            background: green;
            }
